@model IEnumerable<Legoas.Model.Entities.Navigation>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Navigation</h3>
                <div style="float: right; margin-right: -.625rem">
                    <a href="@Url.Action("Create","Navigation")" class="btn btn-success">
                        <i class="fas fa-plus"></i>  Add data
                    </a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.Controller)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int no = 1;}
                        @foreach (var navigation in Model)
                        {
                            <tr>
                                <td>@no</td>
                                <td>@navigation.Name</td>
                                <td>@navigation.Controller</td>
                                <td>
                                    <a href="@Url.Action("Edit/"+navigation.ID,"Navigation")" class="btn btn-default">Edit</a>
                                    <button type="button" class="btn btn-danger" onclick="onDelete(@navigation.ID)">Delete</button>
                                </td>
                            </tr>
                            no++;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.Controller)</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });

        });


    });

    function onDelete(value) {
            Swal.fire({
                title: 'Are you sure to delete this?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Yes',
                denyButtonText: `No`,
            }).then((result) => {
                debugger
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                     $.ajax({
                        url: '@Url.Action("Delete/", "Navigation")' + value,
                        type: "GET",
                        success: function (result) {
                            if (result.StatusCode != "200") {
                                toastr.error(result.StatusMessage)
                            } else {
                                toastr.success('Navigation deleted')
                                setTimeout(function () {
                                    window.location.reload() //will redirect to your blog page (an ex: blog.html)
                                }, 1000); //will call the function after 2 secs.
                            }
                        },
                        error: function (errormessage) {
                            toastr.error(errormessage)
                        }
                    });

                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
        }

</script>